<!-- /snippets/product-grid-item.liquid -->
{% comment %} This snippet is used to showcase each product during the loop,
'for product in collection.products' in collection.liquid. A liquid variable
(grid_item_width) is set just before the this snippet is included to change the
size of the container. Once the variable is set on a page, all future instances
of this snippet will use that width. Overwrite the variable to adjust this.
Example - assign grid_item_width = 'large--one-quarter medium--one-half' {%
endcomment %} {% comment %} Set the default grid_item_width if no variable is
set {% endcomment %} {% unless grid_item_width %} {% assign grid_item_width =
    'large--one-half medium--one-half small--one-whole' %} {% endunless %} {% comment %} Check if
    the product is on sale and set a variable to be used below. {% endcomment %} {%
    assign on_sale = false %} {% if product.compare_at_price > product.price %} {%
    assign on_sale = true %} {% endif %} {% comment %} Check if the product is sold
    out and set a variable to be used below. {% endcomment %} {% assign sold_out =
    true %} {% if product.available %} {% assign sold_out = false %} {% endif %}
    
    <div class="grid__item {{ grid_item_width }} product-grid-container">
      <a
        href="{{ product.url | within: collection }}"
        class="product-button-wrapper"
      >
      </a>
    
      {% comment %} Link to your product with the 'within: collection' filter for
      the link to be aware of the collection. This allows you to create
      collection-based navigation on the product page. Results of using 'within:
      collection': - Instead of a URL with /products/product-handle you would get
      /collections/collection-handle/products/product-handle For more info on
      navigation within a collection -
      http://docs.shopify.com/support/your-store/collections/how-to-navigate-within-a-collection
      {% endcomment %}
      <a
        href="{{ product.url | within: collection }}"
        title="{{ product.title }}"
        class="grid__image"
      >
        <img
          class="lozad"
          data-src="{{ product.featured_image.src | img_url: '700x' }}"
          src="{{ 'placeholder-item.jpg' | asset_url }}"
          alt="{{ product.featured_image.alt | escape }}"
        />
      </a>
    
      <p class="h6 product-tile-title text-center">
        <a
          href="{{ product.url | within: collection }}"
          title="{{ product.title }}"
          >{{ product.title }}</a
        >
      </p>
    
      <div class="price-entries-container">
        <p class="numberofentries">
          <span class="number_of_entries-{{ product.id }}">
            {{ product.price | money }}
          </span>
        </p>
        <a
          href="{{ product.url | within: collection }}"
          title="{{ product.title }}"
          class="btn"
          style="width: 100%; display: block;"
          >View</a
        >
      </div>
    </div>
    