<!-- sections/wild-west-included.liquid-->
<div class="text-center">
    <h2>{{ section.settings.title }}</h2>
</div>

<div class="package-included-container">
    {% for block in section.blocks %}
    <div class="item">
        <img src="{{ block.settings.image | img_url: '700x' | format: 'jpg' }}" alt="{{ block.settings.text }}">
        <p>
          {{ block.settings.text }}
        </p>
    </div>
    {% endfor %}
</div>

<div class="text-center">
  <a href="{{ section.settings.link }}" class="btn book-now-button" title="Book Now">
    Book Now
  </a>
</div>


{% schema %}
{
  "name": "Package Included",
  "max_blocks": 20,
  "settings" : [
      {
          "type": "text",
          "id": "title",
          "label" : "Included In Package Title"
      },
      {
        "type": "url",
        "id": "link",
        "label" : "Book Now Link"
      }
  ],
  "blocks" : [
    {
      "type": "image_picker",
      "name": "Package Included",
      "settings": [
        {
         "type": "image_picker",
          "id": "image",
          "label": "Image of what's included"
        },
        {
            "type": "text",
             "id": "text",
             "label": "Image Title"
        }
      ]
    }
  ]
}
{% endschema %}
